logicApps/azuredeploy-cpu-restart.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "cpu-autorestart-logicApp",
      "metadata": {
        "description": "Logic App that automatically restarts a VM when CPU is at 100% for over 5 minutes"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Azure region for the Logic App"
      }
    }
  },
  "variables": {
    "vmContributorRoleId": "9980e02c-c2be-4d73-94e8-173b1dc7cf3c"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "purpose": "cpu-auto-restart",
        "createdBy": "arm-template"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {},
          "triggers": {
            "When_a_CPU_alert_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "method": "POST",
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "essentials": {
                          "type": "object",
                          "properties": {
                            "alertId": { "type": "string" },
                            "alertRule": { "type": "string" },
                            "severity": { "type": "string" },
                            "signalType": { "type": "string" },
                            "monitorCondition": { "type": "string" },
                            "monitoringService": { "type": "string" },
                            "alertTargetIDs": {
                              "type": "array",
                              "items": { "type": "string" }
                            },
                            "configurationItems": {
                              "type": "array",
                              "items": { "type": "string" }
                            },
                            "originAlertId": { "type": "string" },
                            "firedDateTime": { "type": "string" },
                            "resolvedDateTime": { "type": "string" },
                            "description": { "type": "string" },
                            "essentialsVersion": { "type": "string" },
                            "alertContextVersion": { "type": "string" }
                          }
                        },
                        "alertContext": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Parse_Alert_Payload": {
              "type": "ParseJson",
              "runAfter": {},
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": { "type": "string" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "essentials": {
                          "type": "object",
                          "properties": {
                            "alertId": { "type": "string" },
                            "alertRule": { "type": "string" },
                            "severity": { "type": "string" },
                            "signalType": { "type": "string" },
                            "monitorCondition": { "type": "string" },
                            "monitoringService": { "type": "string" },
                            "alertTargetIDs": {
                              "type": "array",
                              "items": { "type": "string" }
                            },
                            "configurationItems": {
                              "type": "array",
                              "items": { "type": "string" }
                            },
                            "originAlertId": { "type": "string" },
                            "firedDateTime": { "type": "string" },
                            "resolvedDateTime": { "type": "string" },
                            "description": { "type": "string" },
                            "essentialsVersion": { "type": "string" },
                            "alertContextVersion": { "type": "string" }
                          }
                        },
                        "alertContext": { "type": "object" }
                      }
                    }
                  }
                }
              }
            },
            "Check_Alert_Is_Fired": {
              "type": "If",
              "runAfter": {
                "Parse_Alert_Payload": [ "Succeeded" ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Parse_Alert_Payload')?['data']?['essentials']?['monitorCondition']",
                      "Fired"
                    ]
                  }
                ]
              },
              "actions": {
                "Extract_VM_Resource_ID": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": "@first(body('Parse_Alert_Payload')?['data']?['essentials']?['alertTargetIDs'])"
                },
                "Build_Restart_URI": {
                  "type": "Compose",
                  "runAfter": {
                    "Extract_VM_Resource_ID": [ "Succeeded" ]
                  },
                  "inputs": "@concat('https://management.azure.com', outputs('Extract_VM_Resource_ID'), '/restart?api-version=2024-03-01')"
                },
                "Restart_VM": {
                  "type": "Http",
                  "runAfter": {
                    "Build_Restart_URI": [ "Succeeded" ]
                  },
                  "inputs": {
                    "method": "POST",
                    "uri": "@outputs('Build_Restart_URI')",
                    "authentication": {
                      "type": "ManagedServiceIdentity",
                      "audience": "https://management.azure.com"
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 2,
                      "interval": "PT15S"
                    }
                  }
                },
                "Log_Restart_Result": {
                  "type": "Compose",
                  "runAfter": {
                    "Restart_VM": [ "Succeeded" ]
                  },
                  "inputs": {
                    "action": "VM_Restarted",
                    "timestamp": "@utcNow()",
                    "vmResourceId": "@outputs('Extract_VM_Resource_ID')",
                    "computerName": "@first(body('Parse_Alert_Payload')?['data']?['essentials']?['configurationItems'])",
                    "alertRule": "@body('Parse_Alert_Payload')?['data']?['essentials']?['alertRule']",
                    "severity": "@body('Parse_Alert_Payload')?['data']?['essentials']?['severity']",
                    "firedDateTime": "@body('Parse_Alert_Payload')?['data']?['essentials']?['firedDateTime']",
                    "restartHttpStatus": "@outputs('Restart_VM')['statusCode']"
                  }
                },
                "Send_Success_Response": {
                  "type": "Response",
                  "runAfter": {
                    "Log_Restart_Result": [ "Succeeded" ]
                  },
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "vm_restart_initiated",
                      "timestamp": "@utcNow()",
                      "vmResourceId": "@outputs('Extract_VM_Resource_ID')",
                      "restartHttpStatus": "@outputs('Restart_VM')['statusCode']"
                    }
                  }
                },
                "Send_Restart_Failed_Response": {
                  "type": "Response",
                  "runAfter": {
                    "Restart_VM": [ "Failed", "TimedOut" ]
                  },
                  "inputs": {
                    "statusCode": 502,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "vm_restart_failed",
                      "timestamp": "@utcNow()",
                      "vmResourceId": "@outputs('Extract_VM_Resource_ID')",
                      "error": "@body('Restart_VM')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Send_Skipped_Response": {
                    "type": "Response",
                    "runAfter": {},
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "skipped_not_fired",
                        "timestamp": "@utcNow()",
                        "monitorCondition": "@body('Parse_Alert_Payload')?['data']?['essentials']?['monitorCondition']",
                        "message": "Alert is not in Fired state (likely Resolved). No restart performed."
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "logicAppCallbackUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_CPU_alert_is_received'), '2019-05-01').value]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}